## Copy this file to .env and fill in the values for your environment
PROJECT_NAME=medicare_pipeline
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=your-gcs-bucket-name
BQ_DATASET=your-bq-dataset-name

## Don't modify these values unless you know what you're doing
MAGE_ACCESS_TOKEN_EXPIRY_TIME=2592000
REQUIRE_USER_AUTHENTICATION=0